/*Grid y estilos de las secciones*/
.contenedor {
    display: grid;
    grid-template: 
        "header header" auto
        "main main" 1fr
        "footer footer" 100px /
         auto 1fr;

    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .footer{
        grid-area: footer;
    }
}